<%- include('includes/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('includes/header.ejs') %>
        <div class="row">
            <div class="col-md-12">
                <h1>List Users</h1>
                <% if (users.length) { %>
                <% for(let user of users) { %>
                <div class="row">
                    <div class="col">
                        <%= user.row %>: <%= user.name %>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <div class="row">
                    <div class="col">No User Found!</div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('includes/footer.ejs') %>